@charset "UTF-8";
@font-face {
    font-family:Montserrat;
    src: url(Fontes/Montserrat-Light.ttf);}
@font-face {
    font-family:Roboto;
    src: url(Fontes/Roboto-Regular.ttf);}
    
    nav {background-color:#eec33c;
        margin: 0px;
        padding: 1%;}
        nav> a{color:white;
        padding: 10px;
        text-decoration:none;
        font-family:Montserrat;
        font-weight: bold;}
        nav> a:hover {background-color:#113a93;
        color:white;}
   
    h1 {text-align: center;
        font-size: 2rem;
        font-family:Montserrat;
        color:#315ab3;}

    h2 {text-align:center;
        font-size: 1.20rem;
        font-family:Montserrat;
        color:black;}

    h3{font-size: 1.5rem;
        font-family: Roboto;
        color: #315ab3;
        }

    main {
        min-width: 300px;
        max-width: 1000px;
        margin: auto;
        padding: 20px;
        padding-bottom: 5%;}
    
    
    p { 
        font-size: 1rem;
        font-family: Roboto;}

    
    div{font-size: 1rem;
            font-family: Roboto;
            text-align: center;}
    
        div#video{
            margin: 0%;
            padding: 50%;
            padding-bottom: 0%;
            position: relative;
        }

        div#video > iframe{
            position: absolute; 
            top: 0%;
            left:14%;
            width: 75%;
            height: 85%;
        } 

        ul,li{font-size: 1rem;
            font-family: Roboto;}

        footer{background-color:#000000;
        color:white;
        text-align: center;
        font-family:Arial, Helvetica, sans-serif;
        text-decoration:solid; 
        margin: 0px;
        padding-top: 2%;
        padding-bottom: 2%;}

       a{text-decoration: none;
    color: #080ec9;} 